* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    position: relative;
    place-items: center;
    display: grid;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 10rem;
}

.btn{
    height: 2.5rem;
    width: 7rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.btn span {
    display: none;
}

.btn .play {
    display: inline;
}

.btn.playing .play {
    display: none;
}

.btn.playing .pause {
    display: inline;
}